<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table class="table project-index-table">
  <colgroup>
    <col width="25%" style="background: #fafafa" />
    <col width="15%" />
    <col width="15%" />
    <col width="15%" />
    <col width="15%" />
    <col width="15%" />
  </colgroup>
  <thead>
  <tr>
    <th>Keyname (#id)</th>
    <th class="center">Type</th>
    <th class="center">Show</th>
    <th class="center">Edit</th>
    <th class="center">Delete</th>
    <th class="center">Auth</th>
  </tr>
  </thead>

  <tbody>
    <% @projects.each do |proj| %>
    <% project = ProjectPresenter.new proj %>
      <tr>
        <td><%= project.keyname%></td>
        <td><%= project.ptype%></td>
        <td><%= link_to icon('eye'), project_path(project), class: 'label label-info'%></td>
        <td><%= link_to icon('edit'), edit_project_path(project), class: 'label label-info'%></td>
        <td><%= link_to icon('trash-o', 'Delete'), project, method: :delete, data: { confirm: t('delete_confirm') },class: 'btn btn-danger actions-command-btn-item' %></td>

        <td><%= link_to icon('users'), edit_project_path(project), class: 'label label-info'%></td>
        <td class="center actions">

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>

